body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  max-width: 1480px;
  margin: auto;
  position: relative;
}

.page {
  padding-top: 50px;
}

.product {
  border: 1px solid black;
  padding: 20px;
}

.product.is-on-stock {
  border-color: green;
}

.product.is-not-on-stock {
  border-color: red;
}

.product-field {
  font-size: 20px;
}

.product-label {
  font-weight: bold;
  font-size: 25px;
  margin-right: 10px;
}

.product-grid {
  display: grid;
  grid-template-columns: auto auto auto;
  row-gap: 10px;
  column-gap: 10px;
}

.product-row {
  display: flex;
}




